@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
.main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
    
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: #ffffff;
    border-radius: 0.25rem;
  }
  
  .card_title-wise {
    color: #050404;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card_text {
    color: #ffffff;
    
  }
  *::before,
*::after {
  box-sizing: border-box;
}


.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
}

.title-wise {
  
  background-color: #112233;
  color: white;
  height: 400px;
  position: relative;
  padding: 0;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}


.title-wise.letterbox {
  height: 33vh;
  display: flex;
  align-items: center;
}

.title-wise.letterbox h1 {
  padding: 0;
  bottom: unset;
  margin: auto auto;
}

.title-wise.square {
  width: 300px;
  height: 300px;
  flex: auto;
  margin: 1vh;
}

.gallery {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1110px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* .title-wise h1 {
  margin: auto 0;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 4em;
  width: 100%;
  text-align: center;
  padding-bottom: 10vh;
  z-index: 1;
}

.title-wise em {
  margin: auto 0;
  position: absolute;
  top: 0;
  font-size: 1em;
  width: 100%;
  text-align: center;
  padding-top: 5vh;
  z-index: 1;
}

.title-wise:after {
  position: absolute;
  content: "";
  background: #00000022;
  width: 100%;
  height: 100%;
} */

.container-wise {
  /* max-width: 900px; */
  margin: auto;
  /* padding: 5% 15%; */
  padding-top: 30px;
  padding-bottom: 30px;
}

.sectionClass {
  padding: 10px 0px 10px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  /* margin: 30px 0 0px; */
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #1b1b1b;
}


.projectFactsWrap{
    display: flex;
  /* margin-top: 30px; */
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: #1d0606;
}

.projectFactsWrap .item:nth-child(2){
  background: #0a0303;
}

.projectFactsWrap .item:nth-child(3){
  background: #1d0606;
}

.projectFactsWrap .item:nth-child(4){
  background: #0a0303;
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}


footer {
  padding: 2rem 0;
  background-color: #212529;
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
}
.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}
.footer-column .nav-item span.nav-link {
  color: #6c757d;
}
.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}
.footer-column ul {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fec503;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #1a1d20;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}